header {
    border-bottom: 1px transparent white;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    position: relative;
    z-index: 100;
    background-color: rgb(0, 0, 0, 0.5);
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
}

.contacto {
    padding: 8px 20px;
    background-color: rgb(222, 117, 128, 0.75);
    cursor: pointer;
    border-radius: 14px;

    &:hover {
        transition-duration: 0.3s;
        transform: scale(1.08);
        background-color: rgb(222, 117, 128);
    }

}